In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [19]:
url_data = "https://admin.euroleague.net/main/statistics?mode=Leaders&entity=Players&seasonmode=Single&seasoncode=E{}&cat=BlocksFavour&agg=PerGame"
years = list(range(2001, 2022))

In [20]:

for year in years:
    with open("blocks_leaders_htmls/{}.html".format(year), "w+" , encoding="utf-8") as file :
        url = url_data.format(year)
        data = requests.get(url)
        file.write(data.text)

In [21]:
dfs = []
for year in years :
    with open ("steals_leaders_htmls/{}.html".format(year),encoding="utf-8") as f :
        page =f.read()
        soup = BeautifulSoup(page, "html.parser")
        soup.find('tr',class_="StatsHeaderGridResults")
        statistics_table=soup.find(id="ctl00_ctl00_ctl00_ctl00_maincontainer_maincontent_contentpane_ctl01_ctl01_gvResults")
        blocks_data= pd.read_html(str(statistics_table))[0]
        blocks_data["Year"] = year
        dfs.append(blocks_data)

In [22]:
blocks_data = pd.concat(dfs)
blocks_data

,Rank,Player,Team,GamesG,StealsST,Ave.,Per 40 min.40m,Year
0,1,"GINOBILI, EMANUELGINOBILI, E.",VIRKinder Virtus BolognaKinder Virtus Bologna,22,58,2.64,3.70,2001
1,2,"HUGGINS, ROGERHUGGINS, R.",CHASpirou BasketSpirou Basket,14,32,2.29,3.07,2001
2,3,"JARIC, MARKOJARIC, M.",VIRKinder Virtus BolognaKinder Virtus Bologna,21,47,2.24,3.17,2001
3,4,"PHELPS, DERRICKPHELPS, D.",BERAlba BerlinAlba Berlin,13,29,2.23,2.75,2001
4,5,"BIGGS, RALPHBIGGS, R.",OOSTelindus OostendeTelindus Oostende,14,30,2.14,2.33,2001
...,...,...,...,...,...,...,...,...
25,25,"GIEDRAITIS, ROKASGIEDRAITIS, R.",BKNBitci Baskonia Vitoria-GasteizBitci Baskoni...,29,29,1.00,1.39,2021
26,25,"BACON, DWAYNEBACON, D.",ASMAS MonacoAS Monaco,29,29,1.00,1.58,2021
27,25,"WALDEN, COREYWALDEN, C.",BAYFC Bayern MunichFC Bayern Munich,25,25,1.00,1.79,2021
28,25,"JEKIRI, TONYEJEKIRI, T.",UNKUNICS KazanUNICS Kazan,24,24,1.00,1.63,2021
29,25,"HOWARD, WILLIAMHOWARD, W.",ASVLDLC ASVEL VilleurbanneLDLC ASVEL Villeurbanne,21,21,1.00,1.77,2021

In [9]:
engine = create_engine('sqlite:///blocks_leaders.db')
Session = sessionmaker(bind=engine)
session = Session()

In [10]:
blocks_data.to_sql(
    name = "blocks_leaders",
    con = engine,
    index = True,
    if_exists = "replace"
)

1050

In [ ]:
blocks_data_select = session.execute('select * from "blocks_leaders"')
blocks_data_select.all()